.form-control
{
    border-radius: 30px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 58px;
}

.form-control:hover
{
    border-color: darkgrey !important ;
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus
{
    border-color: darkgrey !important;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
}

.сustom-register
{
    border: none;
    background: none;
}

.сustom-register:hover
{
   text-decoration: underline; 
   color:blue;
}